{% extends 'index.html' %}   

{% block body %}    
<h1>About us</h1>
<div class="jumbotron text-center">
    <h3> About Developer  : M.P. Chandimal Priyamantha</h3>
    <p> Academic Year 2019/2020 | BICT(Hons) University of Ruhuna | Faculty of Technology | Phone Number : 0772312087 | Email :<a href="chandimalpriyamantha94@gmail.com" >chandimalpriyamantha94@gmail.com</a> | YouTube: <a href="https://www.youtube.com/channel/UCK54H39sJxHb08SsWkJ7qgQ" >My Channel</a> | Blog:<a href="https://softwarehomepage.blogspot.com/" > My Blog Page</a></p>
    <br>
    <h3>About This Software</h3>
    <p>This is a Student Attendence Managment System Software.This software can mark Attendence using QR code. if you use this system , you can manag attendences. At the same time you can get an Attendence report.</p>
<div>
{% endblock %}



